  
body {
    background-color: lightgray;
}

.white_t {
    background-color: white;
}

.gray_t {
    background-color: #F2E8E6;    
}

header, footer, content {
    background-color: white;
}
.gray-bg {
    background-color: lightgray;
    border: 3px black;
    color: #443939;
}

.navbar-brand p {
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #443939;
    text-shadow: 2px 0px 3px rgb(228 211 211);
    font-weight: 600;
}

.logo-box{
    background-color: #E84C3D;
    height: 145px;
    width: 100px;
    border-radius: 15px;
    margin-top: -50px;
    margin-left: 5px;
    /* position: absolute; */
    background-image: url(../images/logo_white.png);
    background-position: 60% 93%;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    float: right;
}

.btn-panel {
    width: 350px;

}

.btn-panel ul {
    width: 30px;

}

.soc-icn a{
    margin-left: 10px;        
    margin-right: 10px;
    
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.search_box {
    margin-top:15px;
}

.has-search .form-control-feedback {
  
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.bottom_line {
    width: 117%;
    height: 5px;
    margin-left: -7px;
    background-color:#AF2525;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.57);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.57);

}

.list_g {
    margin: 15px 0px 15px 10px;
}

.list_gi {
    padding-top: 10px;
}

.list_gi a {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10pt;
}

.card-img-top-books {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    padding-top: 10px;
}

.aur {
    font-size: 0.8rem;
}

.title-text-clamp p {
    -webkit-line-clamp: 2;
    /* line-clamp: 2; */
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.aur-btn {
    font-size: 0.6rem;
    font-weight: bold;
}