  

.gray-bg {
    background-color: lightgray;
    border: 3px black;
}

.logo-box{
    background-color: #E84C3D;
    height: 160px;
    width: 110px;
    border-radius: 20px;
    margin-top: -50px;
    /* position: absolute; */
    background-image: url(../images/logo_white.png);
    background-position: 60% 93%;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    float: right;

}